
<%- include('partials/header');  -%>

<h1>home </h1>
<p><%= textoHome %></p>

<% newTexto.forEach((item) => { %>
<h1><%= item.titulo  %></h1>
<%postWithOutSpaces=item.titulo; %>
<%postWithOutSpaces=postWithOutSpaces.replace(/\s+/g,'-'); %>
<%postWithOutSpaces=postWithOutSpaces.toLowerCase(); %>
<p><%= item.contenido.substring(0,100)+" ..."  %><a href="/post/<%=postWithOutSpaces%>">Read More</a>

<% }); %>


<%- include('partials/footer'); -%>
