
<%- include('partials/header');  -%>

<h1>home </h1>
<p><%= textoHome %></p>

<% newTexto.forEach((item) => { %>
  <%=postWithOutSpaces=item.titulo; %>
  <%=postWithOutSpaces=item.titulo.replace(/\s+/g,'-'); %>
  <%=postWithOutSpaces=postWithOutSpaces.toLowerCase(); %>
<h1><%= item.titulo  %></h1>
<p><%= item.contenido.substring(0,100)+" ..."  %><a href="/post/<%= postWithOutSpaces%>">Read More</a>
<% }); %>
<%- include('partials/footer'); -%>
